@model IEnumerable<Note>

<h1>Список заміток</h1>
<a asp-controller="Note" asp-action="Create" class="btn btn-primary">Додати нову замітку</a>
<table class="table">
    <thead>
        <tr>
            <th>Назва замітки</th>
            <th>Дата створення</th>
            <th>Текст замітки</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td>@note.Title</td>
                <td>@note.CreatedAt.ToShortDateString()</td>
                <td>@note.Content</td>
                <td>
                    <a asp-controller="Note" asp-action="Edit" asp-route-id="@note.Id" class="btn btn-warning">Редагувати</a>
                    <a asp-controller="Note" asp-action="Delete" asp-route-id="@note.Id" class="btn btn-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}